
{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content="校园社团招聘">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="校园社团 社团招聘 社团">
{% endblock %}

{% block title %}简历{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}


{% block content %}
<div id="page" class="container" data-id="resumeInfo">
    <div class="page-containter middle">
        <h3>简历</h3>
        <section class="resume-warp">
            <h4> <span class="color-orange"></span>个人基本信息</h4>
            <div class="record-row">
                <div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
                </div>
                <div class="record-input">
                    <span>{{ data.name }}</span>
                </div>
            </div>
            <div class="record-row">
                <div></div><div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
                </div>
                <div class="record-input">
                    <span>{{ data.sex }}</span>
                </div>
            </div>
            <div class="record-row">
                <div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系：</span>
                </div>
                <div class="record-input">
                    <span>{{ data.college }}</span>
                </div>
            </div>
            <div class="record-row">
                <div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</span>
                </div>
                <div class="record-input">
                    <span>{{ data.email }}</span>
                </div>
            </div>
            <div class="record-row">
                <div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</span>
                </div>
                <div class="record-input">
                    <span>{{ data.phoneNumber }}</span>
                </div>
            </div>
            <h4> <span class="color-orange"></span>实践经历与奖励</h4>
            <div class="record-row auto-height">
                <div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">特&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长：</span>
                </div>
                <div class="record-input auto-height">
                    {% for foo in data.strongLines %}
                        <p>{{ foo }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="record-row auto-height">
                <div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">经&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;验：</span>
                </div>
                <div class="record-input auto-height">
                    {% for foo in data.experienceLines %}
                        <p>{{ foo }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="record-row auto-height">
                <div class="record-title">
                    <span class="color-orange"></span>
                    <span class="title">其&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他：</span>
                </div>
                <div class="record-input auto-height">
                    {% for foo in data.othersLines %}
                        <p>{{ foo }}</p>
                    {% endfor %}
                </div>
            </div>

        </section>
    </div>
</div>
{% endblock %}