<!DOCTYPE html>
<html lang="zh-Hans">
<body>

    <div class="user-page-left">
        <h2 class="title">个人中心</h2>
        <ul class="list">
            {% if current == 'jobs'%}
                <li class="item current">
            {% else %}
                <li class="item">
            {% endif %}
                <a class='js-jobs' data-id='jobs' href="javascript:void(0);">所有职位</a></li>
            {% if current == 'resume' %}
                <li class="item current">
            {% else %}
                <li class="item ">
            {% endif %}
                <a class="js-resume" data-id='resume' href="javascript:void(0);">所有简历</a></li>
            {% if current == 'me' %}
                <li class="item current">
            {% else %}
                <li class="item ">
            {% endif %}
                <a class="js-me" data-id='me' href="javascript:void(0);">我的资料</a></li>
        </ul>
    </div>
</body>
</html>