

{% extends 'common/base.html' %}

{% block description %}
    <meta name="description" content="校园社团招聘">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="校园社团 社团招聘 社团">
{% endblock %}

{% block title %}主页{% endblock %}

{% block userStyle %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}


{% block content %}
<div id="page" data-id="main">
{#    大轮播banner#}
    <div class="banner">
        <div id="carousel-example-generic" class="full carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              {% for foo in data.organizationList %}
                  {% if foo.bannerImageUrl %}
                      {% if forloop.first %}
                          <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                      {% else %}
                          <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
                      {% endif %}
                  {% endif %}
              {% endfor %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="full carousel-inner" role="listbox">
            {% for foo in data.organizationList %}
                {% if foo.bannerImageUrl %}
                    {% if forloop.first %}
                        <div class="full item active">
                          <a href="/main?organizationAccount={{ foo.account }}">
                              <img src="{{ foo.bannerImageUrl }}" alt="{{ foo.name }}">
                          </a>
                        </div>
                    {% else %}
                        <div class="full item">
                          <a href="/main?organizationAccount={{ foo.account }}">
                              <img src="{{ foo.bannerImageUrl }}" alt="{{ foo.name }}">
                          </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only"></span>
          </a>
        </div>
    </div>
    <div class="container">
{#   导航选择和搜索#}
        <section class="nav">
            <div>
                <ul>
                    {% if data.currentOrganization == None %}
                        <li><a class="js-item current" href="javascript:void (0);">所有</a></li>
                    {% else %}
                        <li><a class="js-item" href="javascript:void (0);">所有</a></li>
                    {% endif %}

                    {% for foo in data.organizationList %}
                        {% if data.currentOrganization == foo.account %}
                            <li><a class="js-item current" href="javascript:void (0);" data-id={{ foo.account }}>{{ foo.name }}</a></li>
                        {% else %}
                            <li><a class="js-item " href="javascript:void (0);" data-id={{ foo.account }}>{{ foo.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="search-warp">
                <input name="search-value" class="search-input pull-left" placeholder="搜索">
                <a class="js-search" href="javascript:void (0);"><span class="search-icon"></span></a>
            </div>
        </section>
    {#   内容#}
        <section class="job-wrap">
            <h2 class="job-list-title">职位信息</h2>
            <table cellpadding="0" cellspacing="0" border="0">
            <colgroup>
                <col width="280">
                <col width="200">
                <col width="200">
                <col width="120">
                <col width="250">
            </colgroup>
            <thead>
                <tr class="title">
                    <th>职位名称</th>
                    <th>社团</th>
                    <th>部门</th>
                    <th>招聘人数</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody class="js-jobBody">
            {% for foo in data.jobsList %}
                <tr data-id={{ foo.jobId }}>
                    <td><a href="{{ foo.url }}">{{ foo.name }}</a></td>
                    <td>{{ foo.organization }}</td>
                    <td class="js-department">{{ foo.department }}</td>
                    <td>{{ foo.number }}</td>
                    <td>{{ foo.updateDate }}
                        <a href="javascript:void (0);" class="js-extend-btn pull-right down-arrow-icon"></a>
                    </td>
                </tr>
                <tr class="job-detail hidden">
                    <td colspan="5">
                        <div>
                            <h3>工作职责与要求：</h3>
                            {% for foo in foo.descriptionLines %}
                                <p>--{{ foo }}</p>
                            {% endfor %}

                            <div class="job-operation">
                                <a class="apply-job" data-index="0">申请职位</a>
                                <a class="collect-job" data-index="0">收藏职位</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </section>
    </div>
</div>

{% endblock %}



