<!DOCTYPE html>
<html lang="zh-Hans">
<body>
<div class="header">
    <div class="container">
        <label class="item"><a class="full logo" href="/home/" style="opacity: 1"></a></label>
        <label class="item">
            <a href="javascript:void(0);" class="js-change-addr home">{{ university }} | 切换</a>
        </label>
        <label class="item">
            <a href="/home/" class="js-home home">首页</a>
            <a href="/main" class="js-goods goods ">社团招聘</a>
        </label>
        <label class="item right">
            <a href="javascript:void(0);" class="user js-login" data-id="">
                <i class="icon icon-right"></i>
                {% if isLogin == 'false' %}
                    <span class="js-loginName">登录</span>
                {% else %}
                    <span class="js-loginName">个人中心</span>
                {% endif %}
            </a>
            {% if isLogin == 'false' %}
                    <a href="javascript:void(0);" class="logout js-logout" style="display: none">
                        <span>退出</span>
                    </a>
                {% else %}
                    <a href="javascript:void(0);" class="logout js-logout" style="display: inline-block">
                        <span>退出</span>
                    </a>
                {% endif %}
        </label>

    </div>
</div>
</body>
</html>